.heading {
    height: 30vh;
    display: grid;
    place-items: center;
    color: var(--clr-highlight);
    font-size: 3rem;
}

.content-container {
    @media screen and (min-width: 1024px) {
        margin: 0 8%;
    }

    @media screen and (min-width: 1920px) {
        margin: 0 12%;
    }

    @media screen and (min-width: 2560px) {
        margin: 0 18%;
    }
}

.gallery-modal {
    position: relative;
    padding: 0;
    
    & .gallery-modal-header {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    & .gallery-modal-content {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 15px;

        & figure {
            margin: 0;
            position: relative;

            & figcaption {
                position: absolute;
                right: 2px;
                bottom: 2px;

                font-size: 0.75rem;
            }

            & img {
                object-fit: scale-down;
            }
        }

        & section {
            & a {
                color: var(--clr-highlight-gradient);
                text-decoration: underline;
            }
        }
    }
}

