:root {
  /* CSS HEX */
  --black: #000000ff;
  --white: #ffffffff;
  --aureolin: #fcee0aff;
  --electric-blue: #00f0ffff;
  --chili-red: #ca3c25ff;

  --clr-background: var(--black);
  --clr-text: var(--white);
  --clr-highlight: var(--aureolin);
  --clr-highlight-contrast: var(--electric-blue);
  --clr-highlight-gradient: var(--chili-red);

  --height-header: 10vmin;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: var(--clr-background);
  color: var(--clr-text);
  font-family: "JetBrains Mono", monospace;
}


main {
  height: calc(100vh - var(--height-header));
}

a {
  text-decoration: none;
  color: currentColor;
}


/* HELPER CLASSES */
.center {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.center-horizontal {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center-vertical {
  display: flex;
  align-items: center;
  height: 100%;
}

.pre-load-icon {
  min-height: 32px;
  min-width: 32px;
}

/* SITE HEADER */

.site-header {
  height: var(--height-header);

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.navbar ul {
  list-style: none;
}

.navbar-item {
  display: inline-block;
}

.navbar-item>a:hover {
  text-decoration: underline solid var(--clr-highlight-contrast);
  color: var(--clr-highlight);
}

/* BREADCRUMB NAVIGATION */
.breadcrumb {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 0;
}

.breadcrumb li {
  display: inline;
  white-space: nowrap;
}

.breadcrumb li:hover {
  color: var(--clr-highlight)
}

.breadcrumb:has(li:hover)::before {
  color: var(--clr-highlight-contrast)
}

.breadcrumb li+li:before {
  content: "/";
  padding: 0.3rem;
}

.breadcrumb::before {
  content: 'cd ';
  white-space: pre;
}

/* CONTENT OF PAGE */
body {
  margin: 0 4%;
  height: 100%
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0 8%;
  }
}

@media screen and (min-width: 1920px) {
  body {
    margin: 0 12%;
  }
}

@media screen and (min-width: 2560px) {
  body {
    margin: 0 18%;
  }
}

/* LOGO */
.logo>span {
  font-weight: 700;
  font-size: 2.5rem;
}

.logo>span:nth-of-type(1) {
  color: var(--clr-highlight)
}

.logo>span:nth-of-type(2) {
  color: var(--clr-highlight-gradient)
}

.logo>span:nth-of-type(3) {
  color: var(--clr-highlight-contrast)
}