:root {
  /* CSS HEX */
  --black: #000000ff;
  --white: #ffffffff;
  --aureolin: #fcee0aff;
  --electric-blue: #00f0ffff;
  --chili-red: #ca3c25ff;

  --clr-background: var(--clr-background-light);
  --clr-text: var(--clr-text-light);
  --clr-highlight: var(--aureolin);
  --clr-highlight-contrast: var(--electric-blue);
  --clr-highlight-gradient: var(--chili-red);

  --clr-highlight-1: var(--aureolin);
  --clr-highlight-2: var(--electric-blue);
  --clr-highlight-3: var(--chili-red);

  --clr-background-dark: var(--black);
  --clr-background-light: var(--white);

  --clr-text-dark: var(--white);
  --clr-text-light: var(--black);


  --height-header: 10vmin;

  /* must be even number to perfectly align circle in */
  --dark-mode-toggle-width: 48px;
  --dark-mode-toggle-padding: 2px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: var(--clr-background);
  color: var(--clr-text);
  font-family: "JetBrains Mono", monospace;

  margin: 0 2%;
}


a {
  text-decoration: none;
  color: currentColor;
}


/* HELPER CLASSES */
.center {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.center-on-screen {
  display: grid;
  place-items: center;
  width: 100%;
  height: calc(100vh - var(--height-header) - 16px)
}

.center-h,
.center-horizontal {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center-v,
.center-vertical {
  display: flex;
  align-items: center;
  height: 100%;
}

.pre-load-icon {
  min-height: 32px;
  min-width: 32px;
}

.site-header {
  height: var(--height-header);

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;

  & .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    font-size: 2rem;

    & ul {
      list-style: none;
    }

    & .navbar-item {
      display: inline-block;

      & a:hover {
        text-decoration: underline solid var(--clr-highlight-contrast);
        color: var(--clr-highlight);
      }
    }
  }
}

/* LOGO */
.logo {
  &>span {
    font-weight: 700;
    font-size: 2.5rem;

    &:nth-of-type(1) {
      color: var(--clr-highlight);
    }

    &:nth-of-type(2) {
      color: var(--clr-highlight-gradient)
    }

    &:nth-of-type(3) {
      color: var(--clr-highlight-contrast)
    }
  }
}

/* DARK MODE TOGGLE */
input[name="theme"] {
  appearance: none;

  position: relative;

  background: var(--clr-background);

  width: var(--dark-mode-toggle-width);
  aspect-ratio: 2/1;
  border-radius: calc((var(--dark-mode-toggle-width) / 2) / 2);
  border: 1px solid var(--clr-text);
}

input[name="theme"]::before {
  content: "";

  display: block;
  position: absolute;

  width: calc((var(--dark-mode-toggle-width)/2) - (var(--dark-mode-toggle-padding) * 2) - 1px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--clr-text);
}

/* This slides the Button to the other side */
input[name="theme"]:not(checked)::before {
  top: var(--dark-mode-toggle-padding);
  left: var(--dark-mode-toggle-padding);
  transition: left 0.5s;
}

input[name="theme"]:checked::before {
  top: var(--dark-mode-toggle-padding);
  left: calc(var(--dark-mode-toggle-width) - ((var(--dark-mode-toggle-width)/2) - (var(--dark-mode-toggle-padding) * 2) - 1px) - (var(--dark-mode-toggle-padding) * 2));
  transition: left 0.5s;
}

/* 
change the theme by changing all variables
*/
html[data-theme="dark"] {
  --clr-background: var(--clr-background-dark);
  --clr-text: var(--clr-text-dark);
}

html[data-theme="light"] {
  --clr-background: var(--clr-background-light);
  --clr-text: var(--clr-text-light);
}


/* We want a label for accessibility, but want to hide it */
label[for="theme"] {
  display: inline-block;
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}