.grid-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-end;

  overflow: hidden;
  min-width: 240px;
  max-width: 400px;
  aspect-ratio: 8/10;
  padding: 20px;

  border: var(--clr-text) solid 3px;
  border-radius: 2rem;

  position: relative;
}

.card:hover {
  border-color: var(--clr-highlight-contrast);
  color: var(--clr-highlight);
}