/* Breadcrumb navigation */
.breadcrumb {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 0;
}

.breadcrumb li {
  display: inline;
  white-space: nowrap;
}

.breadcrumb li + li:before {
  content: "/";
  padding: 0.3rem;
}

.breadcrumb::before {
  content: 'cd ';
  white-space: pre;
}