.grid-container {
  & h2 {
    color: var(--clr-highlight-contrast)
  }

  & h3 {
    color: var(--clr-highlight-gradient)
  }

}

.header {
  color: var(--clr-highlight);
  text-align: center;
}

.content {
  line-height: normal;

  & a {
    color: var(--clr-highlight-gradient);
    text-decoration: underline;
  }
}
