{{ define "style" }}
<link rel="stylesheet" href="/css/list.css">
{{ end }}


{{ define "main" }}
<section class="front-matter">{{ .Content }}</section>
<section class="grid-container">

  {{- range .RegularPages }}
  <a href="{{ .RelPermalink }}">
    {{ with .Resources.Get "thumbnail.png" }}
      {{ with .Crop "350x350" }}
        <article class="card background-image scramble">
        <img src="{{ .RelPermalink }}" />
      {{ end }}
    {{ else }}
    <article class="card background-pattern scramble">
    {{ end }}
      <h2>{{ .Title }}</h2>
    </article>
  </a>
  {{- end }}

</section>
{{ end }}

{{ define "scripts" }}
<script src="/effect/scramble.js"></script>
{{ end }}