{{ define "style" }}
<link rel="stylesheet" href="/css/single.css">
{{ end }}

{{ define "main" }}


<div class="hero">
    {{ with .Resources.Get "hero.png" }}
      {{ with .Crop "4000x400" }}
        <img src="{{ .RelPermalink }}" />
      {{ end }}
    {{ end }}
  <h1 class="center-h header">{{ .Title }}</h1>
</div>
<div class="grid-container">
  <section class="content">
    {{ .Content }}
  </section>
  <section class="sidebar">
    <h3>See also</h3>
    <p>Currently working on this</p>
  </section>
</div>
{{ end }}