{{ if not .IsHome }}
  <a href="{{ .Site.Home.RelPermalink }}" class="logo"><span>CORVIN</span><span>.</span><span>TECH</span></div></a>
{{ end }}

<nav class="navbar">
  <ul>
    {{- range site.Menus.main }}
    <li class="navbar-item">
      <a href="{{ .URL }}">
        {{ .Name }}
      </a>
    </li>
    {{- end }}
    <li class="navbar-item">
      <!-- <label for="theme">Theme selector</label> Should be there for Screen readers, no idea why it messes up style -->
      <input type="checkbox" name="theme" id="theme" />
    </li>
  </ul>
</nav>