<style>
    :root {
        --gallery-width: {{ .Get 0 }};
        --gallery-height: {{ .Get 1 }};
    }
    
</style>
<script>
    function openModal(id) {
        console.log("open modal with id", id)
        let modal = document.getElementById(`gallery-modal-${id}`);
        modal.showModal();
    }

    function closeModal(id) {
        console.log("close modal with id", id)
        let modal = document.getElementById(`gallery-modal-${id}`);
        modal.close();
    }

    function scrollToBottom(id) {
        let modal = document.getElementById(`gallery-modal-${id}`);
        modal.scrollTo(0, modal.scrollHeight);
    }
</script>

<section class="gallery">
    {{ .Inner }}
</section>