{{ $height := .Get "height" }}
{{ $width := .Get "width" }}
{{ $alt := .Get "alt" }}
{{ $id := .Get "id" }}
{{ $taken_at := .Get "taken_at" }}

{{ $content := .Inner }}

{{ with .Page.Resources.GetMatch (.Get "src") }}
<figure id="img-{{ $id }}" class="gallery-fig"
    style="grid-row: auto / span {{ $height }}; grid-column: auto / span {{ $width }}">
    <img src="{{ .RelPermalink }}" alt="{{ $alt }}" onclick="openModal('{{ $id }}')" />
</figure>

<dialog class="gallery-modal" id="gallery-modal-{{ $id }}">
    <div>
        <header>
            <button onclick="scrollToBottom({{ $id }})"><i class="fa-solid fa-angles-down" title="Scroll to text">Scroll</i></button>
            <button autofocus onclick="closeModal({{ $id }})"><i class="fa-solid fa-x" title="close">X</i></button>
        </header>
        <article>
            <figure>
                <img src="{{ .RelPermalink }}" />
            </figure>
            <section>{{ $content }}</section>
        </article>
    </div>
</dialog>
{{ else }}

<figure class="gallery-fig" style="grid-row: auto / span {{ $height }}; grid-column: auto / span {{ $width }}">
    <img src="{{ .Get "src" }}" alt="{{ .Get "alt" }}" />
</figure>

{{ end }}