{{ $height := .Get "height" }}
{{ $width := .Get "width" }}
{{ $alt := .Get "alt" }}
{{ $id := .Get "id" }}
{{ $taken_at := .Get "taken_at" }}

{{ $content := .Inner }}

{{ with .Page.Resources.GetMatch (.Get "src") }}
    <figure id="img-{{ $id }}" class="gallery-fig" style="grid-row: auto / span {{ $height }}; grid-column: auto / span {{ $width }}" onclick="clickedImage({{ $content }})">
        <img src="{{ .RelPermalink }}" alt="{{ $alt }}" />
    </figure>

{{ else }}

<figure class="gallery-fig" style="grid-row: auto / span {{ $height }}; grid-column: auto / span {{ $width }}" onclick="clickedImage({{ $content }})">
    <img src="{{ .Get "src" }}" alt="{{ .Get "alt" }}" />
</figure>

{{ end }}